/*TOP*/
.h_ttp {
    display: flex;
    align-content: center;
    justify-content: space-between;
    width: 100%;
    height: 40px;
    background: var(--bg-bluea-);
  }
  .cnt_ {
    width: 40px;
    height: 40px;
    padding: 5px;
  }
  .cnt_ img {
    border-radius: 50%;
  }
  .SoLP {
    display: flex;
    align-items: center;
    padding-right: 150px;
  }
  ._Xml_ {
    color: blue;
    letter-spacing: -2px;
    font-size: 20px;
    padding: 10px;
  }
  /*TOP*/
  