.LoLTPbar {
  display: grid;
  grid-template-columns: repeat(4, 25%);
  margin-bottom: 15px;
  height: 45px;
  background: rgb(46, 106, 217);
}
.LoLTPBtn {
  color: #ffffff;
  width: 45%;
  font-size: 18px;
  letter-spacing: 2px;
  font-weight: 700;
}
.loGOutSBtn {
  border: none;
  background: rgb(225, 3, 3);
  color: white;
  font-size: 14px;
  letter-spacing: -0.7px;
  padding: 4px 5px;
}
.subBarSbtns{
    border: none;
    color: white;
    font-size: 15px;
    letter-spacing: -.5;
}
.sungLfB{
    position: fixed;
    bottom: 0;
    left: 0;
    margin: 10px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.75);
}
.leftAvt{
  display: flex;
  align-items: center;
  height: 100%;
  padding-left: 100px;
}
.leftAvt p{
  color: white;
  font-size: 15px;
  font-weight: 700;
}
.avatarUIXicn{
  padding: 0px 20px;
  position: absolute;
  bottom: -20px;
}
.avatarUIXicn a{
  width: 60px;
  height: 60px;
  background-size: cover;
  background-position: center center;
  border-radius: 50%;
  box-shadow: 1px 1px 15px #00000073;
}