.FRBox {
  padding: 30px 10px;
  background: #2185ff;
  border-radius: 20px;
}
.CBtnContainer {
  padding: 20px 0px;
  text-align: center;
}
.ImageContainerUpload {
  width: 400px;
  margin: 0 auto;
  text-align: center;
}
.ResendEmailRecovery {
  color: cornflowerblue;
  background: white;
  border-radius: 50px;
  padding: 5px 15px;
  font-size: 13px;
}
