/*MAIN*/
.r_su987I{
    bottom: 10px;
    justify-content: center;
}
.StK99{
	max-width: 200px;
}
.StK99 p,li{
	color: blue;
    font-size: 25px;
}
.fnT_98J {
	font-size: 22px !important;
    margin: 20px 0;
}
.BNT_subPP{
    margin-top: 50px;
	background: #663399b0;
    color: white;
}
.D_trumP{
    margin: 5px;
    position: absolute;
    background: #54afff;
    border-radius: 10px;
}
.D_trumP p{
	padding: 5px;
    color: white;
}
.Cpi_98{
	background: #55b8fd;
    color: white;
    box-shadow: 1px 1px 1px black;
}
/*MAIN*/