/*Empresa*/
.rg98J{
  border-radius: 15px;
  background: var(--thr-ble-);
  padding: 50px 0px;
}
.eM561 {
  display: block;
  width: 900px;
  margin: 0 auto;
}
.eM566 {
  padding: 5px;
  border-radius: 5px;
  background: #d6e5ff;
  color: #656565;
  cursor: pointer;
}
.eM5613{
  padding: 20px 0px;
}
.eM5613 {
}
.eM5677 {
  background: #37b4ff;
  color: white;
  box-shadow: -1px 1px 11px 2px #00000026;
  font-weight: bolder;
  box-shadow: -1px 1px 10px 0.5px #00000026 !important;
}
.eM566:hover {
}

.eM566:active {
}
/*Empresa*/
/*Estudiante*/
/*Estudiante*/